footer {
	background-color: #001f3f; 
	text-align: center; 
	color: white;
 	position: absolute; 
 	border-top: 5px solid black;
 	right: 0;
 	bottom: 0;
 	left: 0;
  	padding: 1rem 0;
  }

  .wrap {
  	text-align: center;
  	color: #001f3f;
  	font-weight: bold;
  	font-size: 22px;
  	background-color: mediumaquamarine;
  	min-height: 586px;
  	overflow: hidden;
  }

  h1 {
  	text-align: center;
  	font-weight: bold;
  	font-size: 35px;	
  	color: white;
  	padding: 14px;
  }

  header {
  	height: 60px;
  	background-color: #001f3f;
  }

  .Time {
  	float: left;
  }

  #overlay {
	
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
  }

  #specialBox {
	
	position: relative;
	z-index: 3;
	margin: 150px auto 0px auto;
	width: 500px; 
	height: 300px;
	background: #FFF;
	color: #000;
  }

